{% extends 'base.html' %}

{% block title %}

Call Management Portal

{% endblock %}

{% block content %}

{% if exception %}
<br>
<div class="alert alert-warning alert-dissmissible">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> Please select the files Correctly.

</div>
{% endif %}
<br>
<form method="post" enctype="multipart/form-data">

	{% csrf_token %}<! cross-site thieft forgery token >
	<div class="row form-group">
		<label class="col-sm-3 col-form-label">Upload IVR data Here:</label>
		<input type="file" name="ivr" class="col-sm-5 form-control-file" required="required">
	</div>
	<div class="form-group row">
		<label class="col-sm-3 col-form-label">Upload Mobile data Here:</label>
		<input type="file" name="mobile" class="col-sm-5 form-control-file" required="required">
	</div>
	<input type="submit" name="" class="btn btn-primary offset-sm-3" value="Submit">

</form>

{% if result %}
<br><br>
<div class="row d-flex justify-content-sm-center">

	<div class="col-sm-2">

		<a href="{% url 'ivr_histogram' %}" target="_blank" class="btn btn-outline-success">Data Analytics</a>

	</div>

	<div class="col-sm-2">

		<a href="{% url 'result' %}" target="_blank" class="btn btn-outline-success">Result</a>

	</div>

</div>

{% endif %}

{% endblock %}
