{% extends 'base.html' %}
{% block head %}
<style type="text/css">

	body{
		background-image: url("/media/bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

</style>
{% endblock %}

{% block title %} Data Analysis{% endblock %}
{% block content %}
<br><br>
<div class="row">
<img src="/media/Missed_calls.jpeg" class="img-fluid col-sm-6" alt="Missed Calls Histogram" />
<img src="/media/Connected_calls.jpeg" class="img-fluid col-sm-6" alt="Connected Calls Histogram" />
<img src="/media/Voicemail.jpeg" class="img-fluid col-sm-6" alt="Voicemail Histogram" />
</div>
{% endblock %}
